header{
  height: 42px;
  background-color: red;
}

aside{
  width: 350px;
  height: 100vh;
  background-color: blue;
}

.content{
  background-color: green;
  height: calc(100vh-42px);
  width: 100%;
}